@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

/* ---Reset browser styles----------------------------------------------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
}
/* ------------------------------------------------------------------------------- */
body {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    color: #070707;
}
body._lock {
    overflow: hidden;
}
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* ------------------------------------------------------------------------------- */
._container {
    max-width: 973px;
    margin: 0 auto;
    padding: 0px 15px;
}
@media (max-width: 767.98px) {
    ._container {
        padding: 0px 30px;
    }
}
/* ------------------------------------------------------------------------------- */
/* PC */
@media (max-width: 1087px) {
}

/* TABLET */
@media (max-width: 991.98px) {
}

/* MOBILE */
@media (max-width: 767.98px) {
}

/* MOBILE SMALL*/
@media (max-width: 479.98px) {
}
/* ------------------------------------------------------------------------------- */
.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    transition: all .3s ease 0s;
}
.header._scroll {
    background-color: #fff;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__menu {
    height: 88px;
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    border-bottom: 1px solid #828282;
}
.header._scroll .header__menu {
    border-bottom: none;
}
.menu {
}
.menu__body {
    flex: 1 1 100%;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__item {
}
.menu__link {
    color: #828282;
    font-weight: 700;
    line-height: calc(22 / 18 * 100%);
    transition: all .3s ease 0s;
}
.menu__link:hover {
    border-bottom: 1px solid#000;
}
.menu__link:active {
    border-bottom: 1px solid#000;
}
.menu__link_black {
    color: #070707;
}
@media (max-width: 767.98px) {
    .header._scroll {
        /* top: -34px; */
        /* height: 122px; */

        top: -51px;
        height: 105px;
    }
    .header__container {
        align-items: flex-end;
    }
    .header__menu {
        border-bottom: none;
    }
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 66px 30px 15px 30px;
        transition: left .3s ease 0s;
    }
    .menu_active .menu__body {
        left: 0;
    }
    .menu__list {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu__item:not(:last-child) {
        margin: 0px 0px 68px 0px;
    }
    .menu__link {
        font-size: 34px;
        line-height: calc(42 / 34 * 100%);
    }
}
/* ------------------------------------------------------------------------------- */
.header__button {
    display: none;
    flex: 0 0 33px;
}
@media (max-width: 767.98px) {
    .header__button {
        display: flex;
    }
}
.header__burger {
}
.burger {
    width: 33px;
    height: 20px;
    position: relative;
    background: none;
}
.burger__line {
    display: block;
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: #000;
    transition: all .3s ease 0s;
}
.burger__line_first {
    top: 0;
}
.burger__line_second,
.burger__line_third {
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_third {
}
.burger__line_fourth {
    bottom: 0;
}
.burger_active .burger__line {
    background-color: #828282;
}
.burger_active .burger__line_first,
.burger_active .burger__line_fourth {
    opacity: 0;
}
.burger_active .burger__line_second {
    transform: rotate(45deg)
}
.burger_active .burger__line_third {
    transform: rotate(-45deg)
}
/* -------------------------------------------------------------------------------- */
.main {
    flex: 1 1 auto;
}
/* -------------------------------------------------------------------------------- */
.name {
    padding: 128px 0px 104px 0px;
}
.name__container {
}
.name__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 0px 50px 0px;
}
.name__title {
    font-weight: 700;
    font-size: 47px;
    /* line-height: calc(59 / 47 * 100%); */
}
.name__text {
    padding: 0px 50px 0px 0px;
}
.name__text p{
    text-align: left;
    /* line-height: calc(22 / 18 * 100%); */
}
.name__language {
    width: 20px;
    transform: rotate(270deg);
}
.name__image {
    height: 400px;
    overflow: hidden;
}
.name__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
@media (max-width: 767.98px) {
    .name {
        padding: 57px 0px 83px 0px;
    }
    .name__content {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 37px 0px;
    }
    .name__title {
        font-size: 36px;
        margin: 0px 0px 23px 0px;
    }
    .name__language {
        display: none;
    }
}
@media (max-width: 479.98px) {
    .name__image {
        height: 400px;
        overflow: hidden;
    }
    .name__image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -50px 0;
    }
}
/* -------------------------------------------------------------------------------- */
.about {
    padding: 120px 0px 107px 0px;
    background-color: #F6F6F6;
}
.about__container {
}
.about__text-block {
}
@media (max-width: 767.98px) {
    .about {
        padding: 81px 0px 76px 0px;
    }
}
/* --------------------------------------------------------------------------------- */
.text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-block__title {
    font-weight: 700;
    font-size: 34px;
    /* line-height: calc(42px / 34px * 100%); */
    line-height: 42px;
    margin: 0px 0px 25px 0px;
}
.text-block__text {
}
.text-block__text p{
    text-align: center;
    line-height: 22px;
}
.text-block__text p:not(:last-child) {
    margin: 0px 0px 40px 0px;
}
/* -------------------------------------------------------------------------------- */
.skills {
    padding: 80px 0px 110px 0px;
}
.skills__contsiner {
}
.skills__text-block {
    margin: 0px 0px 84px 0px;
}
.text-block {
}
.text-block__title {
}
.text-block__title_skills{
    margin: 0px 0px 70px 0px;
}
.text-block__text {
}
.skills__items {
    display: flex;
    justify-content: center;
}
.skills__item {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-skills {
}
.item-skills__image {
    width: 80px;
    height: 80px;
    margin: 0px 0px 25px 0px;
}
.item-skills__image img{
    width: 100%;
}
.item-skills__text {
    margin: 0px 0px 40px 0px;
}
.item-skills__grade {
}
@media (max-width: 767.98px) {
    .skills {
        padding: 80px 0px 90px 0px;
    }
    .skills__text-block {
        margin: 0px 0px 70px 0px;
    }
    .skills__items {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .skills__item {
        margin: 0px 0px 82px 0px;
    }
    .text-block__title_skills{
        margin: 0px 0px 50px 0px;
    }
    .item-skills__image {
    }
}
/* -------------------------------------------------------------------------------- */
.portfolio {
    background-color: #F6F6F6;
    padding: 113px 0px 96px 0px;
}
.portfolio__container {
}
.portfolio__text-block {
    margin: 0px 0px 47px 0px;
}
.text-block {
}
.text-block__title {
}
.portfolio__items {
}
.portfolio__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__item:not(:last-child) {
    margin: 0px 0px 100px 0px;
}
.item-portfolio {
}
.item-portfolio__images {
    margin: 0px 0px 45px 0px;
}
.item-portfolio__images img {
    max-width: 100%;
}
.item-portfolio__link {
    text-decoration: underline;
}
@media (max-width: 767.98px) {
    .item-portfolio__images {
        height: 400px;
        overflow: hidden;
    }
    .item-portfolio__images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
    }
}
/* -------------------------------------------------------------------------------- */
.footer {
    padding: 114px 0px 123px 0px;
}
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__text-block {
    margin: 0px 0px 40px 0px;
}
.text-block {
}
.text-block__title {
}
.text-block__text {
}
.footer__button {
    display: inline-block;
    color: #fff;
    width: 250px;
    height: 42px;
    font-weight: 700;
    text-align: center;
    padding: 12px 0px;
    margin: 0px 0px 85px 0px;
    border-radius: 30px;
    background-color: #070707;
    transition: all .3s ease 0s;
}
.footer__button:hover {
    background-color: #616161;
}
.footer__links {
    width: 340px;
    display: flex;
    justify-content: space-between;
}
.footer__link {
    display: block;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
.footer__link:hover {
    transform: scale(1.1);
}
.footer__link:active {
    transform: scale(0.9);
}
.footer__link img {
    width: 100%;
}
@media (max-width: 479.98px) {
    .footer {
        padding: 45px 0px 45px 0px;
    }
    .footer__button {
        margin: 0px 0px 60px 0px;
    }
    .footer__links {
        width: 340px;
        flex-direction: column;
        align-items: center;
    }
    .footer__link:not(:last-child) {
        margin: 0px 0px 40px 0px;
    }
}
/* --------------------------------------------------------------------------------s */

